body{
	background:#ffffff;
}

img{border:0;}

h1{
	/*el orden es up, right, down, left como las manecillas del reloj*/
	padding:5px 5px 0 5px;
	margin:0 0 15px 0;
	color:#2b7c92;
	font-size:2em;
}

/*
Para crear los tabuladores, se aplica una tecnica, la cual 
por medio de tres bloques de tipos div, vamos a ir agregando
de manera anidada las imagenes, hasta formar todos los elementos
de la imagen 
*/

div.tab{
	background-image:url(http://icursos.net/cursos/HTML/Leccion03/IntroduccionCSS/LaboratorioCSS1/img/izqTab.gif);
	display:block;
	float:left;
	/*Es el alto de la imagen*/
	height:21px;
	padding:0;
	/*Separacion entre tabuladores*/
	margin:0 1px 0 0;

/*
La imagen de la izquierda no se repite
por default una imagen se repite 
en todo el espacio que tenga para desplazarse
*/

background-repeat:no-repeat;

}

div.tab div{
	background-image:url(http://icursos.net/cursos/HTML/Leccion03/IntroduccionCSS/LaboratorioCSS1/img/derTab.gif);
	background-repeat:no-repeat;
	background-position:top right;
	height:21px;
	float:left;
	margin:0;
}

div.tab div a{
	
	margin:0 8px;

	height:21px;
	line-height:21px
	background-image:url(http://icursos.net/cursos/HTML/Leccion03/IntroduccionCSS/LaboratorioCSS1/img/centroTab.gif);
	display:block;
	text-decoration:none;
	vertical-aling:middle;
	float:left;
	background-repeat:repeat;
	
}

/*
solamente hay un elemento activo en la pagina,
por tanto, se utiliza ID(#), en lugar de una clase(.)
*/

#actual{
	background-image:url(http://icursos.net/cursos/HTML/Leccion03/IntroduccionCSS/LaboratorioCSS1/img/actIzqTab.gif)
}

#actual div{
	background-image:url(http://icursos.net/cursos/HTML/Leccion03/IntroduccionCSS/LaboratorioCSS1/img/actDerTab.gif)
}

#actual div a{
	background-image:url(http://icursos.net/cursos/HTML/Leccion03/IntroduccionCSS/LaboratorioCSS1/img/actCentroTab.gif)
}

a:link,a:visited{
	color:#226275;
	text-decoration:underline;
}

a:active,a:hover{
	color:#39a5c4;
}